section#banner
  //
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
  .inner
    header
      h2 Mikkeli
    footer
      ul.buttons.vertical
        li
          a.button.fit.scrolly(href='#main') Kerro lisää!