section#banner
  //
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
  .inner
    header
      h2 TWENTY
    p
      | This is 
      strong Twenty
      | , a free
      br
      |         responsive template
      br
      |         by 
      a(href='http://html5up.net') HTML5 UP
      | .
    footer
      ul.buttons.vertical
        li
          a.button.fit.scrolly(href='#main') Tell Me More