section#cta
  header
    h3 Seuraa meitä:
  ul.icons
    li
      a.icon.circle.fa-twitter(href='https://twitter.com/MikkelinK')
        span.label Twitter
    li
      a.icon.circle.fa-facebook(href='https://www.facebook.com/mikkelinkaupunki')
        span.label Facebook
    li
      a.icon.circle.fa-youtube(href='http://www.youtube.com/user/MikkeliKaupunki')
        span.label Youtube
  ul.copyright
    li © Untitled
    li
      | Design: 
      a(href='http://html5up.net') HTML5 UP