header#header
  h1#logo
    a(href='/')
      | Mikkelin 
      span Kaupunki
  nav#nav
    ul
      li
        a(href='/') Etusivu
      li.submenu
        a(href='#') Palveluopas
        ul
          each serviceClass in serviceClasses
            li
              a(href='#')
                = serviceClass.name
      li.submenu
        a(href='#') Päätöksenteko
        ul
          li
            a(href='#') Osallistu ja vaikuta
          li
            a(href='#') Esityslistat ja pöytäkirjat
          li
            a(href='#') Kaupunginvaltuusto
          li
            a(href='#') Kaupunginhallitus
          li
            a(href='#') Aluejohtokunnat
          li
            a(href='#') Johto- ja ohjesäännöt
          li
            a(href='#') Johtokunnat
          li
            a(href='#') Koulujen neuvottelukunnat
          li
            a(href='#') Kyläasiat
          li
            a(href='#') Lautakunnat
          li
            a(href='#') Nuorisovaltuusto
          li
            a(href='#') Seutuvaliokunta
          li
            a(href='#') Sähköiset kokoukset
          li
            a(href='#') Työryhmät
          li
            a(href='#') Vammaisneuvosto
          li
            a(href='#') Vanhusneuvosto
          li
            a(href='#') Vapaa-ajanasukasvaltuuskunta
      li.submenu
        a(href='#') Tietoa Mikkelistä
        ul
          li
            a(href='#') Avoin data
          li
            a(href='#') Avoimet työpaikat
          li
            a(href='#') Hankkeet ja projektit
          li
            a(href='#') Kaupunginjohtajan puheita
          li
            a(href='#') Maksut ja taksat
          li
            a(href='#') Organisaatio
          li
            a(href='#') Perustiedot
          li
            a(href='#') Strategia
          li
            a(href='#') Talous ja toiminta
          li
            a(href='#') Tapahtumat
          li
            a(href='#') Terveys- ja hyvinvointitietoa
          li
            a(href='#') Ystävyyskaupungit
      li
        a(href='#') Yhteystiedot
      li
        a(href='#') Asioi verkossa