header#header
  h1#logo
    a(href='/')
      | Twenty 
      span by HTML5 UP
  nav#nav
    ul
      li
        a(href='/') Welcome
      li
        a(href='/blog.html') Blog
      li.submenu
        a(href='') Layouts
        ul
          li
            a(href='/left-sidebar.html') Left Sidebar
          li
            a(href='/right-sidebar.html') Right Sidebar
          li
            a(href='/no-sidebar.html') No Sidebar
          li
            a(href='/contact.html') Contact
          li.submenu
            a(href='') Submenu
            ul
              li
                a(href='#') Dolore Sed
              li
                a(href='#') Consequat
              li
                a(href='#') Lorem Magna
              li
                a(href='#') Sed Magna
              li
                a(href='#') Ipsum Nisl
      li
        a.button.special(href='#') Sign Up
