swagger: '2.0'
info:
  title: Kunta API
  description: One API to rule them all. One API to find them, One API to bring them all and in the darkness bind them.
  version: "0.0.1"
host: demo.kuntaapi.fi
schemes:
  - https
basePath: /v1
consumes:
  - application/json;charset=utf-8
produces:
  - application/json;charset=utf-8
paths:
  /organizations:
    get:
      operationId: listOrganizations
      summary: List organizations
      description: List organizations
      parameters:
        - name: businessName
          in: query
          description: Filter by organization's business name
          type: string
        - name: businessCode
          in: query
          description: Filter by organization's business code
          type: string
      tags:
        - Organizations
      responses:
        200:
          description: An array of organizations
          schema:
            type: array
            items:
              $ref: '#/definitions/Organization'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/services:
    post:
      operationId: createService
      summary: Create a service
      description: |
        Creates new service for the organization
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: body
          in: body
          description: Service definition
          required: true
          schema:
            $ref: '#/definitions/Service'
      tags:
        - Services
      responses:
        200:
          description: An array of services
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
        501:
          description: Returned when selected service does support modification of data
          schema:
            $ref: '#/definitions/NotImplemented'
    get:
      operationId: listServices
      summary: List services
      description: |
        Lists organization's services
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: serviceClassId
          in: query
          description: Filter services by service class id
          required: false
          type: string
          format: uuid
      tags:
        - Services
      responses:
        200:
          description: An array of services
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/serviceClasses/:
    get:
      operationId: listServiceClasses
      summary: List service classes for an organization
      description: |
        Returns list of organization's service classes
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
      tags:
        - Services
        - Service Categories
      responses:
        200:
          description: Returns a list of organization's service classes
          schema:
            type: array
            items: 
              $ref: '#/definitions/ServiceClass'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/services/{serviceId}:
    get:
      operationId: findService
      summary: Find a service by id
      description: |
        Returns single service by it's unique id.
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: serviceId
          in: path
          description: Service id
          required: true
          type: string
          format: uuid
        - name: onlySource
          in: query
          description: whether return enriched content or just the source data
          required: false
          type: boolean
      tags:
        - Services
      responses:
        200:
          description: Returns a single municipal service
          schema:
            $ref: '#/definitions/Service'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
    put:
      operationId: updateService
      summary: Update a service
      description: |
        Updates a single municipal service
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: serviceId
          in: path
          description: Service id
          required: true
          type: string
          format: uuid
      tags:
        - Services
      responses:
        200:
          description: Created service
          schema:
            $ref: '#/definitions/Service'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
        501:
          description: Returned when endpoint does support modification of data
          schema:
            $ref: '#/definitions/NotImplemented'            
    delete:
      operationId: deleteService
      summary: Delete a service
      description: |
        Delete a single municipal service
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: serviceId
          in: path
          description: Service id
          required: true
          type: string
          format: uuid
      tags:
        - Services
      responses:
        204:
          description: Empty response indicating a succesfull removal
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/services/{serviceId}/electronicChannels:
    get:
      operationId: listServiceElectornicChannels
      summary: List service electornic channels
      description: |
        Lists service electronic channels
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: serviceId
          in: path
          description: Service id
          required: true
          type: string
          format: uuid
      tags:
        - Services
        - ServiceChannels
      responses:
        200:
          description: List of service electornic channels
          schema:
            $ref: '#/definitions/ServiceElectronicChannel'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'            
  /serviceSources:
    get:
      operationId: listServiceSources
      summary: List service sources
      description: |
        Returns list of service sources.
      tags:
        - Services
        - Sources
        - Services Sources
      responses:
        200:
          description: An array of service sources
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceSource'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /serviceSources/{serviceSourceId}:
    get:
      operationId: findServiceSource
      summary: Find a service by id
      description: |
        Returns single service by it's unique id.
      parameters:
        - name: serviceSourceId
          in: path
          description: Service source id
          required: true
          type: string
          format: uuid
      tags:
        - Services
        - Sources
        - Services Sources
      responses:
        200:
          description: Returns a single service source
          schema:
            $ref: '#/definitions/ServiceSource'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
definitions:
  Organization:
    type: object
    properties:
      id:
        type: string
        format: uuid
        description: Unique identifier a organization.
      businessName:
        type: string
        description: Primary name of organization
      businessCode:
        type: string
        description: Business code code of organization
  Service:
    type: object
    properties:
      id:
        type: string
        format: uuid
        description: Unique identifier representing a specific service.
      descriptions:
        type: array
        items:
          $ref: '#/definitions/ServiceDescription'
      name:
        type: array
        items:
          $ref: '#/definitions/LocalizedValue'
      source_ids:  
        type: array
        description: Name of the service.
        items:
          type: string
      class_ids:  
        type: array
        description: List of service classes
        items:
          type: string
      electronic_channel_ids:
        type: array
        items:
          type: string
          format: uuid
      phone_channel_ids:
        type: array
        items:
          type: string
          format: uuid
      printable_form_channel_ids:
        type: array
        items:
          type: string
          format: uuid
      service_location_channel_ids:
        type: array
        items:
          type: string
          format: uuid
      webpage_channel_ids:
        type: array
        items:
          type: string
          format: uuid
  LocalizedValue: 
    type: object
    properties: &LocalizedValue
      language:
        type: string
      value:
        type: string
  ServiceDescription:
    type: object
    properties: 
      <<: *LocalizedValue
      type:
        type: string
  ServiceClass:
    type: object
    properties:
      id:
        type: string
        format: uuid
      name:
        type: string
      code:
        type: string
      ontologyType:
        type: string
      uri:
        type: string
      parentId:
        type: string
        format: uuid
      parentUri:
        type: string
  ServiceChannelCommon: 
    type: object
    properties: &ServiceChannelCommon
      id:
        type: string
        format: uuid
      organizationId:
        type: string
        format: uuid
      description:
        type: array
        items:
          $ref: '#/definitions/LocalizedValue'
      name:
        type: array
        items:
          $ref: '#/definitions/LocalizedValue'
      webPages:
        type: array
        items:
          $ref: '#/definitions/WebPage'
      serviceHours:
        type: array
        items:
          $ref: '#/definitions/ServiceHour'
      supportContacts:
        type: array
        items:
          $ref: '#/definitions/Support'
  ServiceElectronicChannel:
    type: object
    properties:
      <<: *ServiceChannelCommon
      signatureQuantity:
        type: integer
      requiresSignature:
        type: boolean
      requiresAuthentication:
        type: boolean
      urls:
        type: array
        items:
          $ref: '#/definitions/LocalizedValue'
      attachments:
        type: array
        items:
          $ref: '#/definitions/Attachment'
  ServiceSource:
    type: object
    description: Specifies a single source for the service
    properties:
      id:
        type: string
        description: id of the service source
      name:
        type: string
        description: name of the service source
  Support:
    properties:
      email:
        type: string
      phone:
        type: string
      phoneChargeDescription:
        type: string
      language:
        type: string
      serviceChargeTypes:
        type: array
        items:
          type: string
  Attachment:
    properties:
      type:
        type: string
      name:
        type: string
      description:
        type: string
      url:
        type: string
      language:
        type: string
  WebPage:
    properties:
      type:
        type: string
      value:
        type: string
      url:
        type: string
      language:
        type: string
  ServiceHour:
    properties:
      serviceHourType:
        type: string
      exceptionHourType:
        type: string
      validFrom:
        type: string
        format: date-time
      validTo:
        type: string
        format: date-time
      monday:
        type: boolean
      tuesday:
        type: boolean
      wednesday:
        type: boolean
      thursday:
        type: boolean
      friday:
        type: boolean
      saturday:
        type: boolean
      sunday:
        type: boolean
      opens:
        type: string
      closes:
        type: string
  InternalServerError:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
  Forbidden:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
  BadRequest:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
  NotImplemented:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
  NotFound:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string