swagger: '2.0'
info:
  title: Kunta API
  description: One API to rule them all. One API to find them, One API to bring them all and in the darkness bind them.
  version: "0.0.1"
host: demo.kuntaapi.fi
schemes:
  - https
basePath: /v1
consumes:
  - application/json;charset=utf-8
produces:
  - application/json;charset=utf-8
paths:
  /organizations:
    get:
      operationId: listOrganizations
      summary: List organizations
      description: List organizations
      parameters:
        - name: businessName
          in: query
          description: Filter by organization's business name
          type: string
        - name: businessCode
          in: query
          description: Filter by organization's business code
          type: string
      tags:
        - Organizations
      responses:
        200:
          description: An array of organizations
          schema:
            type: array
            items:
              $ref: '#/definitions/Organization'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/services:
    post:
      operationId: createService
      summary: Create a service
      description: |
        Creates new service for the organization
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: body
          in: body
          description: Service definition
          required: true
          schema:
            $ref: '#/definitions/Service'
      tags:
        - Services
      responses:
        200:
          description: An array of services
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
        501:
          description: Returned when selected service does support modification of data
          schema:
            $ref: '#/definitions/NotImplemented'
    get:
      operationId: listServices
      summary: List services
      description: |
        Lists organization's services
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: serviceClassId
          in: query
          description: Filter services by service class id
          required: false
          type: string
          format: uuid
      tags:
        - Services
      responses:
        200:
          description: An array of services
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/serviceClasses/:
    get:
      operationId: listServiceClasses
      summary: List service classes for an organization
      description: |
        Returns list of organization's service classes
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
      tags:
        - Services
        - Service Categories
      responses:
        200:
          description: Returns a list of organization's service classes
          schema:
            type: array
            items: 
              $ref: '#/definitions/ServiceClass'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/services/{serviceId}:
    get:
      operationId: findService
      summary: Find a service by id
      description: |
        Returns single service by it's unique id.
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: serviceId
          in: path
          description: Service id
          required: true
          type: string
          format: uuid
      tags:
        - Services
      responses:
        200:
          description: Returns a single municipal service
          schema:
            $ref: '#/definitions/Service'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
    put:
      operationId: updateService
      summary: Update a service
      description: |
        Updates a single municipal service
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: serviceId
          in: path
          description: Service id
          required: true
          type: string
          format: uuid
      tags:
        - Services
      responses:
        200:
          description: Created service
          schema:
            $ref: '#/definitions/Service'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
        501:
          description: Returned when endpoint does support modification of data
          schema:
            $ref: '#/definitions/NotImplemented'            
    delete:
      operationId: deleteService
      summary: Delete a service
      description: |
        Delete a single municipal service
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: serviceId
          in: path
          description: Service id
          required: true
          type: string
          format: uuid
      tags:
        - Services
      responses:
        204:
          description: Empty response indicating a succesfull removal
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/services/{serviceId}/electronicChannels:
    get:
      operationId: listServiceElectornicChannels
      summary: List service electornic channels
      description: |
        Lists service electronic channels
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: serviceId
          in: path
          description: Service id
          required: true
          type: string
          format: uuid
      tags:
        - Services
        - ServiceChannels
      responses:
        200:
          description: List of service electornic channels
          schema:
            $ref: '#/definitions/ServiceElectronicChannel'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/events:
    get:
      operationId: listOrganizationEvents
      summary: Lists organizations events
      description: |
        Lists organizations events
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: startBefore
          in: query
          description: return only events starting before the date
          type: string
        - name: startAfter
          in: query
          description: return only events starting after the date
          type: string
        - name: endBefore
          in: query
          description: return only events ending before the date
          type: string
        - name: endAfter
          in: query
          description: return only events ending after the date
          type: string
        - name: firstResult
          in: query
          description: first index of results
          type: integer
          format: int32
        - name: maxResults
          in: query
          description: maximum number of results
          type: integer
          format: int32
        - name: orderBy
          in: query
          description: define order (startDate, endDate). Default is startDate
          type: string
        - name: orderDir
          in: query
          description: ascending, descending. Default is ascending
          type: string
      tags:
        - Events
      responses:
        200:
          description: Returns a list of events
          schema:
            type: array
            items:
              $ref: '#/definitions/Event'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/events/{eventId}:
    get:
      operationId: findOrganizationEvent
      summary: Returns organizations event by id
      description: |
        Returns organizations event by id
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: eventId
          in: path
          description: Event id
          required: true
          type: string
          format: uuid
      tags:
        - Events
      responses:
        200:
          description: Returns a single event
          schema:
            $ref: '#/definitions/Event'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/events/{eventId}/images:
    get:
      operationId: listOrganizationEventImages
      summary: Returns list of event images
      description: |
        Returns list of event images
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: eventId
          in: path
          description: Event id
          required: true
          type: string
          format: uuid
      tags:
        - Events
      responses:
        200:
          description: Returns a list of event images
          schema:
            type: array
            items:
              $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/events/{eventId}/images/{imageId}:
    get:
      operationId: findOrganizationEventImage
      summary: Returns an event image
      description: |
        Returns an event image 
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: eventId
          in: path
          description: Event id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Event image id
          required: true
          type: string
          format: uuid
      tags:
        - Events
      responses:
        200:
          description: Returns an event image
          schema:
            $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/events/{eventId}/images/{imageId}/data:
    get:
      produces:
        - application/octet-stream
      operationId: getOrganizationEventImageData
      summary: Returns an event image data
      description: |
        Returns an event image data
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: eventId
          in: path
          description: Event id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Event image id
          required: true
          type: string
          format: uuid
        - name: size
          in: query
          description: Maximum width or height of image
          required: false
          type: integer
          format: int32
      tags:
        - Events
      responses:
        200:
          description: Returns an event image data
          schema:
            type: string
            format: binary
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/news:
    get:
      operationId: listOrganizationNews
      summary: Lists organizations news
      description: |
        Lists organizations news
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: publishedBefore
          in: query
          description: return only news published before the date
          type: string
        - name: publishedAfter
          in: query
          description: return only news published after the date
          type: string
        - name: firstResult
          in: query
          description: first index of results
          type: integer
          format: int32
        - name: maxResults
          in: query
          description: maximum number of results
          type: integer
          format: int32
      tags:
        - News
      responses:
        200:
          description: Returns a list of news
          schema:
            type: array
            items:
              $ref: '#/definitions/NewsArticle'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/news/{newsArticleId}:
    get:
      operationId: findOrganizationNewsArticle
      summary: Finds organizations news article
      description: |
        Finds organizations single news article
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: newsArticleId
          in: path
          description: News article id
          required: true
          type: string
          format: uuid
      tags:
        - News
      responses:
        200:
          description: Returns a single news article
          schema:
            $ref: '#/definitions/NewsArticle'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/news/{newsArticleId}/images:
    get:
      operationId: listOrganizationNewsArticleImages
      summary: Returns list of news article images
      description: |
        Returns list of news article images
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: newsArticleId
          in: path
          description: News article id
          required: true
          type: string
          format: uuid
      tags:
        - News
      responses:
        200:
          description: Returns a news article images
          schema:
            type: array
            items:
              $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/news/{newsArticleId}/images/{imageId}:
    get:
      operationId: findOrganizationNewsArticleImage
      summary: Returns an news article image
      description: |
        Returns an news article image
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: newsArticleId
          in: path
          description: News article id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Event image id
          required: true
          type: string
          format: uuid
      tags:
        - News
      responses:
        200:
          description: Returns an news article image
          schema:
            $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/news/{newsArticleId}/images/{imageId}/data:
    get:
      produces:
        - application/octet-stream
      operationId: getOrganizationNewsArticleImageData
      summary: Returns a news article image data
      description: |
        Returns a news article image data
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: newsArticleId
          in: path
          description: News article id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Event image id
          required: true
          type: string
          format: uuid
        - name: size
          in: query
          description: Maximum width or height of image
          required: false
          type: integer
          format: int32
      tags:
        - News
      responses:
        200:
          description: Returns a news article image data
          schema:
            type: string
            format: binary
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/pages:
    get:
      operationId: listOrganizationPages
      summary: Lists organizations pages
      description: |
        Lists organizations pages
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: parentId
          in: query
          description: Filter results by parent id
          required: false
          type: string
          format: uuid
        - name: path
          in: query
          description: Filter results by page path
          required: false
          type: string
      tags:
        - Pages
      responses:
        200:
          description: Returns a list of pages
          schema:
            type: array
            items:
              $ref: '#/definitions/Page'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/pages/{pageId}:
    get:
      operationId: findOrganizationPage
      summary: Finds organizations page
      description: |
        Finds single organization page
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: pageId
          in: path
          description: page id
          required: true
          type: string
          format: uuid
      tags:
        - Pages
      responses:
        200:
          description: Returns a single organization page
          schema:
            $ref: '#/definitions/Page'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/pages/{pageId}/content:
    get:
      operationId: findOrganizationPageContent
      summary: Returns organizations page content in all available languages
      description: |
        Returns single organization page content in all available languages
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: pageId
          in: path
          description: page id
          required: true
          type: string
          format: uuid
      tags:
        - Pages
      responses:
        200:
          description: Returns single page content in all available languages
          schema:
            type: array
            items:
              $ref: '#/definitions/LocalizedValue'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/pages/{pageId}/images:
    get:
      operationId: listOrganizationPageImages
      summary: Returns a list of organization page images
      description: |
        Returns a list of organization page images
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: pageId
          in: path
          description: Page id
          required: true
          type: string
          format: uuid
      tags:
        - Pages
      responses:
        200:
          description: Returns list of organization page images
          schema:
            type: array
            items:
              $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/pages/{pageId}/images/{imageId}:
    get:
      operationId: findOrganizationPageImage
      summary: Returns a single organiztion page image
      description: |
        Returns a single organiztion page image
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: pageId
          in: path
          description: Page Id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Page image id
          required: true
          type: string
          format: uuid
      tags:
        - Pages
      responses:
        200:
          description: Returns an organization page image
          schema:
            $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/pages/{pageId}/images/{imageId}/data:
    get:
      produces:
        - application/octet-stream
      operationId: getOrganizationPageImageData
      summary: Returns an organization page image data
      description: |
        Returns an organization page image data
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: pageId
          in: path
          description: Page id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Page image id
          required: true
          type: string
          format: uuid
        - name: size
          in: query
          description: Maximum width or height of image
          required: false
          type: integer
          format: int32
      tags:
        - Pages
      responses:
        200:
          description: Returns an organization page image data
          schema:
            type: string
            format: binary
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/files:
    get:
      operationId: listOrganizationFiles
      summary: Lists organizations files
      description: |
        Lists organizations files
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: pageId
          in: query
          description: Filter with page
          required: false
          type: string
          format: uuid
      tags:
        - Files
      responses:
        200:
          description: Returns a list of organizations files
          schema:
            type: array
            items:
              $ref: '#/definitions/File'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/files/{fileId}:
    get:
      operationId: findOrganizationFile
      summary: Finds organizations file
      description: |
        Finds single organization file
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: fileId
          in: path
          description: file id
          required: true
          type: string
          format: uuid
      tags:
        - Files
      responses:
        200:
          description: Returns a single organization file
          schema:
            $ref: '#/definitions/Page'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/files/{fileId}/data:
    get:
      produces:
        - application/octet-stream
      operationId: getOrganizationFileData
      summary: Returns an organization file data
      description: |
        Returns an organization file data
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: fileId
          in: path
          description: file id
          required: true
          type: string
          format: uuid
      tags:
        - Files
      responses:
        200:
          description: Returns an organization file data
          schema:
            type: string
            format: binary
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/menus:
    get:
      operationId: listOrganizationMenus
      summary: Lists organizations menus
      description: |
        Lists organizations menus
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: slug
          in: query
          description: Filter with slug
          required: false
          type: string
      tags:
        - Menus
      responses:
        200:
          description: Returns a list of organizations menus
          schema:
            type: array
            items:
              $ref: '#/definitions/Menu'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/menus/{menuId}:
    get:
      operationId: findOrganizationMenu
      summary: Finds organizations menu
      description: |
        Finds single organization menu
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: menuId
          in: path
          description: menu id
          required: true
          type: string
          format: uuid
      tags:
        - Menus
      responses:
        200:
          description: Returns a single organization menu
          schema:
            $ref: '#/definitions/Menu'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/menus/{menuId}/items:
    get:
      operationId: listOrganizationMenuItems
      summary: Lists organizations menu items
      description: |
        Lists organization menu items
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: menuId
          in: path
          description: menu id
          required: true
          type: string
          format: uuid
      tags:
        - Menus
      responses:
        200:
          description: Returns a list of organizations menu items
          schema:
            type: array
            items:
              $ref: '#/definitions/MenuItem'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/menus/{menuId}/items/{menuItemId}:
    get:
      operationId: findOrganizationMenuItem
      summary: Finds organization menu item
      description: |
        Finds single organization menu item
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: menuId
          in: path
          description: menu id
          required: true
          type: string
          format: uuid
        - name: menuItemId
          in: path
          description: menu item id
          required: true
          type: string
          format: uuid
      tags:
        - Menus
      responses:
        200:
          description: Returns a single organization menu item
          schema:
            $ref: '#/definitions/MenuItem'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/banners:
    get:
      operationId: listOrganizationBanners
      summary: Lists organizations banners
      description: |
        Lists organizations banners
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
      tags:
        - Banners
      responses:
        200:
          description: Returns a list of banners
          schema:
            type: array
            items:
              $ref: '#/definitions/Banner'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/banners/{bannerId}:
    get:
      operationId: findOrganizationBanner
      summary: Finds organizations banner
      description: |
        Finds single organization banner
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: bannerId
          in: path
          description: banner id
          required: true
          type: string
          format: uuid
      tags:
        - Banners
      responses:
        200:
          description: Returns a single organization banner
          schema:
            $ref: '#/definitions/NewsArticle'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/banners/{bannerId}/images:
    get:
      operationId: listOrganizationBannerImages
      summary: Returns a list of organization banner images
      description: |
        Returns a list of organization banner images
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: bannerId
          in: path
          description: Banner id
          required: true
          type: string
          format: uuid
      tags:
        - Banners
      responses:
        200:
          description: Returns list of organization banner images
          schema:
            type: array
            items:
              $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/banners/{bannerId}/images/{imageId}:
    get:
      operationId: findOrganizationBannerImage
      summary: Returns a single organiztion banner image
      description: |
        Returns a single organiztion banner image
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: bannerId
          in: path
          description: Banner Id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Banner image id
          required: true
          type: string
          format: uuid
      tags:
        - Banners
      responses:
        200:
          description: Returns an organization banner image
          schema:
            $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/banners/{bannerId}/images/{imageId}/data:
    get:
      produces:
        - application/octet-stream
      operationId: getOrganizationBannerImageData
      summary: Returns an organization banner image data
      description: |
        Returns an organization banner image data
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: bannerId
          in: path
          description: Banner id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Banner image id
          required: true
          type: string
          format: uuid
        - name: size
          in: query
          description: Maximum width or height of image
          required: false
          type: integer
          format: int32
      tags:
        - Banners
      responses:
        200:
          description: Returns an organization banner image data
          schema:
            type: string
            format: binary
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/tiles:
    get:
      operationId: listOrganizationTiles
      summary: Lists organizations tiles
      description: |
        Lists organizations tiles
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
      tags:
        - Tiles
      responses:
        200:
          description: Returns a list of tiles
          schema:
            type: array
            items:
              $ref: '#/definitions/Tile'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/tiles/{tileId}:
    get:
      operationId: findOrganizationTile
      summary: Finds organizations tile
      description: |
        Finds single organization tile
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: tileId
          in: path
          description: tile id
          required: true
          type: string
          format: uuid
      tags:
        - Tiles
      responses:
        200:
          description: Returns a single organization tile
          schema:
            $ref: '#/definitions/Tile'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/tiles/{tileId}/images:
    get:
      operationId: listOrganizationTileImages
      summary: Returns a list of organization tile images
      description: |
        Returns a list of organization tile images
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: tileId
          in: path
          description: Tile id
          required: true
          type: string
          format: uuid
      tags:
        - Tiles
      responses:
        200:
          description: Returns list of organization tile images
          schema:
            type: array
            items:
              $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/tiles/{tileId}/images/{imageId}:
    get:
      operationId: findOrganizationTileImage
      summary: Returns a single organiztion tile image
      description: |
        Returns a single organiztion tile image
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: tileId
          in: path
          description: Tile Id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Tile image id
          required: true
          type: string
          format: uuid
      tags:
        - Tiles
      responses:
        200:
          description: Returns an organization tile image
          schema:
            $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/tiles/{tileId}/images/{imageId}/data:
    get:
      produces:
        - application/octet-stream
      operationId: getOrganizationTileImageData
      summary: Returns an organization tile image data
      description: |
        Returns an organization tile image data
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: tileId
          in: path
          description: Tile id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Tile image id
          required: true
          type: string
          format: uuid
        - name: size
          in: query
          description: Maximum width or height of image
          required: false
          type: integer
          format: int32
      tags:
        - Tiles
      responses:
        200:
          description: Returns an organization tile image data
          schema:
            type: string
            format: binary
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/settings/:
    get:
      operationId: listOrganizationSettings
      summary: Lists organizations settings
      description: |
        Lists organizations settings
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: key
          in: query
          description: Setting key
          type: string
      tags:
        - Settings
      responses:
        200:
          description: Returns a list of settings
          schema:
            type: array
            items:
              $ref: '#/definitions/OrganizationSetting'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
    post:
      operationId: createOrganizationSetting
      summary: Creates organization setting
      description: |
        Creates organization setting
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: setting
          in: body
          schema:
            $ref: '#/definitions/OrganizationSetting'
      tags:
        - Settings
      responses:
        200:
          description: Returns create organization setting
          schema:
            $ref: '#/definitions/OrganizationSetting'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/settings/{settingId}:
    get:
      operationId: findOrganizationSetting
      summary: Finds organizations setting
      description: |
        Finds single organization setting
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: settingId
          in: path
          description: Setting id
          required: true
          type: string
          format: uuid
      tags:
        - Settings
      responses:
        200:
          description: Returns a single organization setting
          schema:
            $ref: '#/definitions/OrganizationSetting'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
    put:
      operationId: updateOrganizationSetting
      summary: Updates an organization setting
      description: |
        Updates an organization setting
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: settingId
          in: path
          description: Setting id
          required: true
          type: string
          format: uuid
        - name: setting
          in: body
          schema:
            $ref: '#/definitions/OrganizationSetting'
      tags:
        - Settings
      responses:
        200:
          description: Returns a single an updated organization setting
          schema:
            $ref: '#/definitions/OrganizationSetting'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
    delete:
      operationId: deleteOrganizationSetting
      summary: Deletes an organization setting
      description: |
        Deletes an organization setting
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: settingId
          in: path
          description: Setting id
          required: true
          type: string
          format: uuid
      tags:
        - Settings
      responses:
        204:
          description: Successful removal
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
            
definitions:
  Attachment:
    properties:
      id:
        type: string
        format: uuid
      contentType:
        type: string
      size:
        type: integer
        format: int64
  Organization:
    type: object
    properties:
      id:
        type: string
        format: uuid
        description: Unique identifier a organization.
      businessName:
        type: string
        description: Primary name of organization
      businessCode:
        type: string
        description: Business code code of organization
  Service:
    type: object
    properties:
      id:
        type: string
        format: uuid
        description: Unique identifier representing a specific service.
      shortDescriptions:
        type: array
        items:
          $ref: '#/definitions/LocalizedValue'
      descriptions:
        type: array
        items:
          $ref: '#/definitions/LocalizedValue'
      serviceUserInstructions:
        type: array
        items:
          $ref: '#/definitions/LocalizedValue'
      names:
        type: array
        description: Name of the service.
        items:
          $ref: '#/definitions/LocalizedValue'
      alternativeNames:
        type: array
        description: Name of the service.
        items:
          $ref: '#/definitions/LocalizedValue'
      classIds:  
        type: array
        description: List of service classes
        items:
          type: string
      electronicChannelIds:
        type: array
        items:
          type: string
          format: uuid
      phoneChannelIds:
        type: array
        items:
          type: string
          format: uuid
      printableFormChannelIds:
        type: array
        items:
          type: string
          format: uuid
      serviceLocationChannelIds:
        type: array
        items:
          type: string
          format: uuid
      webpageChannelIds:
        type: array
        items:
          type: string
          format: uuid
  LocalizedValue: 
    type: object
    properties:
      language:
        type: string
      value:
        type: string
  ServiceClass:
    type: object
    properties:
      id:
        type: string
        format: uuid
      name:
        type: string
      code:
        type: string
      ontologyType:
        type: string
      uri:
        type: string
      parentId:
        type: string
        format: uuid
      parentUri:
        type: string
  ServiceChannelCommon: 
    type: object
    properties: &ServiceChannelCommon
      id:
        type: string
        format: uuid
      names:
        type: array
        items:
          $ref: '#/definitions/LocalizedValue'
      descriptions:
        type: array
        items:
          $ref: '#/definitions/LocalizedValue'
      shortDescriptions:
        type: array
        items:
          $ref: '#/definitions/LocalizedValue'
      webPages:
        type: array
        items:
          $ref: '#/definitions/ServiceChannelWebPage'
      serviceHours:
        type: array
        items:
          $ref: '#/definitions/ServiceChannelServiceHour'
      serviceHoursAdditinalInformation:
        type: string
      supportContacts:
        type: array
        items:
          $ref: '#/definitions/ServiceChannelSupport'
  ServiceElectronicChannel:
    type: object
    properties:
      <<: *ServiceChannelCommon
      signatureQuantity:
        type: integer
      requiresSignature:
        type: boolean
      requiresAuthentication:
        type: boolean
      urls:
        type: array
        items:
          $ref: '#/definitions/LocalizedValue'
      attachments:
        type: array
        items:
          $ref: '#/definitions/ServiceChannelAttachment'
  ServiceChannelSupport:
    properties:
      email:
        type: string
      phone:
        type: string
      phoneChargeDescription:
        type: string
      language:
        type: string
      serviceChargeTypes:
        type: array
        items:
          type: string
  ServiceChannelAttachment:
    properties:
      type:
        type: string
      name:
        type: string
      description:
        type: string
      url:
        type: string
      language:
        type: string
  ServiceChannelWebPage:
    properties:
      type:
        type: string
      value:
        type: string
      url:
        type: string
      language:
        type: string
  ServiceChannelServiceHour:
    properties:
      type: 
        type: string
      validFrom:
        type: string
        format: date-time
      validTo:
        type: string
        format: date-time
      opens:
        type: string
        format: time
      closes:
        type: string
        format: time
      days:
        type: array
        items:
          type: integer
          format: int32
      status:
        type: string
  Event:
    properties:
      id:
        type: string
        format: uuid
      originalUrl:
        type: string
        format: url
      name:
        type: string
      description:
        type: string
      start:
        type: string
        format: date-time
      end:
        type: string
        format: date-time
      city:
        type: string
      place:
        type: string
      address:
        type: string
      zip:
        type: string   
  NewsArticle:
    properties:
      id:
        type: string
        format: uuid
      title:
        type: string
      abstract:
        type: string
      contents:
        type: string
      published:
        type: string
        format: date-time
  Page:
    properties:
      id:
        type: string
        format: uuid
      slug:
        type: string
      titles:
        type: array
        items:
          $ref: '#/definitions/LocalizedValue'
      parentId:
        type: string
        format: uuid
  Menu:
    properties:
      id:
        type: string
        format: uuid
      slug:
        type: string
  MenuItem:
    properties:
      id:
        type: string
        format: uuid
      label:
        type: string
      parentItemId:
        type: string
        format: uuid
      type:
        type: string
      pageId:
        type: string
        format: uuid
      fileId:
        type: string
        format: uuid
      externalUrl:
        type: string
  File:
    properties:
      id:
        type: string
        format: uuid
      slug:
        type: string
      title:
        type: string
      contentType:
        type: string
      size:
        type: integer
        format: int64
  Banner:
    properties:
      id:
        type: string
        format: uuid
      title:
        type: string
      contents:
        type: string
      link:
        type: string
  Tile:
    properties:
      id:
        type: string
        format: uuid
      title:
        type: string
      contents:
        type: string
      link:
        type: string
  OrganizationSetting:
    properties:
      id:
        type: string
        format: uuid
      key:
        type: string
      value:
        type: string
  InternalServerError:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
  Forbidden:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
  BadRequest:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
  NotImplemented:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
  NotFound:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string