doctype html
html
  include ../includes/head.pug
  body.index
    include ../includes/nav.pug
    include ../includes/banner.pug
    .page-content
      block content
    include ../includes/footer.pug